In [ ]:
import csv
import sys
from collections import Counter

In [ ]:
def creatSet(l):
    ll=[]
    for i in l:
        ll.extend(i)
    yield set(ll)
lst=[line.split() for line in open("/mushroom.dat").readlines()]
list1=[]
for i in creatSet(lst):
    list1.extend(i)
print(list1)

x = len(list1)
print(x)

['98', '9', '4', '13', '25', '52', '114', '104', '19', '82', '49', '76', '39', '32', '85', '6', '42', '48', '53', '47', '70', '68', '59', '109', '81', '34', '54', '20', '40', '79', '58', '57', '78', '33', '46', '97', '108', '89', '117', '92', '118', '72', '67', '95', '101', '65', '26', '10', '55', '90', '60', '11', '15', '38', '113', '103', '107', '84', '91', '35', '12', '106', '99', '86', '66', '77', '110', '102', '8', '94', '2', '31', '51', '7', '5', '18', '22', '3', '16', '93', '62', '44', '112', '88', '27', '61', '80', '111', '56', '41', '29', '14', '1', '21', '74', '37', '115', '43', '63', '105', '50', '28', '64', '87', '69', '83', '23', '24', '30', '100', '119', '71', '96', '36', '17', '116', '75', '73', '45']
119

In [ ]:
dict0 = dict()
for i in list1:
  dict0[i] = 0
print(dict0)

{'98': 0, '9': 0, '4': 0, '13': 0, '25': 0, '52': 0, '114': 0, '104': 0, '19': 0, '82': 0, '49': 0, '76': 0, '39': 0, '32': 0, '85': 0, '6': 0, '42': 0, '48': 0, '53': 0, '47': 0, '70': 0, '68': 0, '59': 0, '109': 0, '81': 0, '34': 0, '54': 0, '20': 0, '40': 0, '79': 0, '58': 0, '57': 0, '78': 0, '33': 0, '46': 0, '97': 0, '108': 0, '89': 0, '117': 0, '92': 0, '118': 0, '72': 0, '67': 0, '95': 0, '101': 0, '65': 0, '26': 0, '10': 0, '55': 0, '90': 0, '60': 0, '11': 0, '15': 0, '38': 0, '113': 0, '103': 0, '107': 0, '84': 0, '91': 0, '35': 0, '12': 0, '106': 0, '99': 0, '86': 0, '66': 0, '77': 0, '110': 0, '102': 0, '8': 0, '94': 0, '2': 0, '31': 0, '51': 0, '7': 0, '5': 0, '18': 0, '22': 0, '3': 0, '16': 0, '93': 0, '62': 0, '44': 0, '112': 0, '88': 0, '27': 0, '61': 0, '80': 0, '111': 0, '56': 0, '41': 0, '29': 0, '14': 0, '1': 0, '21': 0, '74': 0, '37': 0, '115': 0, '43': 0, '63': 0, '105': 0, '50': 0, '28': 0, '64': 0, '87': 0, '69': 0, '83': 0, '23': 0, '24': 0, '30': 0, '100': 0, '119': 0, '71': 0, '96': 0, '36': 0, '17': 0, '116': 0, '75': 0, '73': 0, '45': 0}

In [ ]:
from collections import Counter

def createSet(l):
    ll=[]
    for i in l:
        ll.extend(i)
    yield list(ll)

lst=[line.split() for line in open("/mushroom.dat").readlines()]
list1=[]
for i in createSet(lst):
    list1.extend(i)
d=Counter()
d.update(list1)
d=dict(d)
print(d)

{'1': 3916, '3': 3656, '9': 2556, '13': 2284, '23': 3376, '25': 256, '34': 7914, '36': 6812, '38': 2512, '40': 408, '52': 3516, '54': 1120, '59': 5176, '63': 4936, '67': 4464, '76': 4384, '85': 8124, '86': 7924, '90': 7488, '93': 3968, '98': 1872, '107': 1248, '113': 368, '2': 4208, '14': 1072, '26': 400, '39': 5612, '55': 556, '99': 1968, '108': 400, '114': 2148, '4': 452, '15': 1040, '27': 400, '41': 1048, '115': 292, '10': 3244, '16': 1840, '24': 4748, '28': 3528, '37': 1312, '53': 4608, '94': 2776, '109': 384, '42': 752, '43': 1492, '110': 4040, '44': 1202, '11': 2320, '64': 600, '5': 32, '111': 1712, '6': 3152, '56': 3776, '116': 3148, '57': 192, '65': 284, '117': 1144, '100': 48, '60': 552, '45': 732, '68': 576, '77': 1872, '69': 1872, '78': 576, '46': 492, '17': 1500, '29': 2160, '61': 2372, '66': 2304, '70': 448, '79': 432, '95': 1296, '101': 1632, '71': 432, '18': 144, '30': 192, '80': 512, '19': 168, '47': 96, '58': 2480, '72': 96, '91': 600, '102': 2388, '112': 340, '118': 192, '31': 576, '48': 1728, '20': 16, '96': 48, '119': 832, '103': 72, '21': 44, '7': 828, '81': 96, '22': 16, '32': 576, '82': 24, '12': 4, '8': 4, '49': 24, '35': 210, '50': 86, '73': 192, '83': 192, '87': 96, '51': 64, '88': 96, '104': 48, '33': 36, '74': 36, '84': 36, '92': 36, '97': 36, '105': 48, '106': 48, '62': 24, '75': 8, '89': 8}

In [1]:
%pip install mlxtend --upgrade
import mlxtend
mlxtend.__version__

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Collecting mlxtend
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 18.5 MB/s
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Installing collected packages: mlxtend
  Attempting uninstall: mlxtend
    Found existing installation: mlxtend 0.14.0
    Uninstalling mlxtend-0.14.0:
      Successfully uninstalled mlxtend-0.14.0
Successfully installed mlxtend-0.21.0

'0.21.0'

In [2]:
import mlxtend
import pandas as pd
import numpy as np

from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

lst=[line.split() for line in open("/mushroom.dat").readlines()]
transEncoder = TransactionEncoder()
transEncoder_array = transEncoder.fit(lst).transform(lst)
transEncoder_array

#dataFrame = pd.DataFrame(transEncoder_array)
dataFrame = pd.DataFrame(transEncoder_array,columns = transEncoder.columns_)
dataFrame

,1,10,100,101,102,103,104,105,106,107,...,90,91,92,93,94,95,96,97,98,99
0,True,False,False,False,False,False,False,False,False,True,...,True,False,False,True,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,True
3,True,True,False,False,False,False,False,False,False,True,...,True,False,False,True,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,False,False,False,False,False,False,False,False,True,False,...,True,False,False,True,False,False,False,False,False,False
8120,False,False,False,False,False,False,False,False,True,False,...,True,False,False,True,False,False,False,False,False,False
8121,False,False,False,False,False,False,False,False,True,False,...,True,False,False,True,False,False,False,False,False,False
8122,True,True,False,False,True,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,False
8123,False,False,False,False,False,False,True,False,False,False,...,True,False,False,True,False,False,False,False,False,False

In [6]:
from mlxtend.frequent_patterns import fpgrowth
frequent_itemsets = fpgrowth(dataFrame, min_support = 0.1, use_colnames = True, max_len = 1)
frequent_itemsets

     support itemsets
0   1.000000     (85)
1   0.975382     (86)
2   0.974151     (34)
3   0.921713     (90)
4   0.838503     (36)
5   0.637125     (59)
6   0.607582     (63)
7   0.549483     (67)
8   0.539636     (76)
9   0.488429     (93)
10  0.482029      (1)
11  0.450025      (3)
12  0.432792     (52)
13  0.415559     (23)
14  0.314623      (9)
15  0.309207     (38)
16  0.281142     (13)
17  0.230428     (98)
18  0.153619    (107)
19  0.137863     (54)
20  0.690793     (39)
21  0.517971      (2)
22  0.264402    (114)
23  0.242245     (99)
24  0.131955     (14)
25  0.129000     (41)
26  0.128016     (15)
27  0.399311     (10)
28  0.584441     (24)
29  0.567208     (53)
30  0.434269     (28)
31  0.341704     (94)
32  0.226489     (16)
33  0.161497     (37)
34  0.497292    (110)
35  0.183653     (43)
36  0.147957     (44)
37  0.285574     (11)
38  0.210734    (111)
39  0.387986      (6)
40  0.464796     (56)
41  0.387494    (116)
42  0.140817    (117)
43  0.230428     (77)
44  0.230428     (69)
45  0.184638     (17)
46  0.291974     (61)
47  0.283604     (66)
48  0.265879     (29)
49  0.200886    (101)
50  0.159527     (95)
51  0.305268     (58)
52  0.293944    (102)
53  0.212703     (48)
54  0.102413    (119)
55  0.101920      (7)

In [ ]:
from mlxtend.frequent_patterns import association_rules
assoRules = association_rules(frequent_itemsets, metric = "confidence", min_threshold = 0.8)
assoRules



---


# **all**

In [ ]:
import csv
import sys
from collections import Counter

def createSet(l):
    ll=[]
    for i in l:
        ll.extend(i)
    yield list(ll)

lst=[line.split() for line in open("/mushroom.dat").readlines()]
list1=[]
for i in createSet(lst):
    list1.extend(i)
d=Counter()
d.update(list1)
d=dict(d)
print(d)

{'1': 3916, '3': 3656, '9': 2556, '13': 2284, '23': 3376, '25': 256, '34': 7914, '36': 6812, '38': 2512, '40': 408, '52': 3516, '54': 1120, '59': 5176, '63': 4936, '67': 4464, '76': 4384, '85': 8124, '86': 7924, '90': 7488, '93': 3968, '98': 1872, '107': 1248, '113': 368, '2': 4208, '14': 1072, '26': 400, '39': 5612, '55': 556, '99': 1968, '108': 400, '114': 2148, '4': 452, '15': 1040, '27': 400, '41': 1048, '115': 292, '10': 3244, '16': 1840, '24': 4748, '28': 3528, '37': 1312, '53': 4608, '94': 2776, '109': 384, '42': 752, '43': 1492, '110': 4040, '44': 1202, '11': 2320, '64': 600, '5': 32, '111': 1712, '6': 3152, '56': 3776, '116': 3148, '57': 192, '65': 284, '117': 1144, '100': 48, '60': 552, '45': 732, '68': 576, '77': 1872, '69': 1872, '78': 576, '46': 492, '17': 1500, '29': 2160, '61': 2372, '66': 2304, '70': 448, '79': 432, '95': 1296, '101': 1632, '71': 432, '18': 144, '30': 192, '80': 512, '19': 168, '47': 96, '58': 2480, '72': 96, '91': 600, '102': 2388, '112': 340, '118': 192, '31': 576, '48': 1728, '20': 16, '96': 48, '119': 832, '103': 72, '21': 44, '7': 828, '81': 96, '22': 16, '32': 576, '82': 24, '12': 4, '8': 4, '49': 24, '35': 210, '50': 86, '73': 192, '83': 192, '87': 96, '51': 64, '88': 96, '104': 48, '33': 36, '74': 36, '84': 36, '92': 36, '97': 36, '105': 48, '106': 48, '62': 24, '75': 8, '89': 8}